/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/variables.css);

html,
body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* start navigation */
.header-area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}
/* 
.header-area .main-menu .navbar {
  padding: 1rem 15rem;
} */

.header-area .main-menu .navbar .navbar-brand .brand {
  width: 52px;
}

.header-area .main-menu .navbar-nav .nav-item .nav-link {
  font-family: var(--roboto);
  text-transform: uppercase;
  font-weight: 570;
  padding: 1rem 2rem;
  color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active a{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;  
}
/* end navigation */
