/* import fonts from fonts.css file */
@import url(./fonts.css);

/* import css variables */
@import url(./partials/variables.css);
/* import global style */
@import url(./partials/global.css);
html,
body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: var(--roboto) !important;
}

/* start navigation */
/* .header-area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
} */

.header-area .main-menu .navbar .navbar-brand .brand {
  width: 52px;
}

.header-area .main-menu .navbar-nav .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto) !important;
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* end navigation */

/* start banner area */
.main-area .banner-area {
  background: url(../img/phoenix.png) no-repeat center;
  background-size: contain;
}
.main-area .banner-img > img {
  padding: 7rem 0;
  width: 70rem;
}
@media (max-width: 768px) {
  .main-area .banner-area {
    background-position: unset;
    background-size: unset;
  }
}
.main-area .banner-area .banner-title .hi {
  font-weight: 500;
}
.main-area .banner-area .banner-title .hi::after {
  margin-left: 5%;
}
.main-area .banner-area .banner-title .hi::before {
  margin-right: 0.1rem;
}
.main-area .banner-area .banner-title .hi::after {
  content: '';
  height: 2px;
  width: 16rem;
  background-color: black;
  display: inline-block;
  transform: translateY(-7px);
}
.main-area .banner-area .banner-title .se {
  font-size: 1.7rem;
}
/* end banner area */

/* start about area */
.main-area .about-area {
  padding: 2rem 1rem;
}
.main-area .about-area .about-title > span {
  display: block;
  font: normal bold 30px/40px var(--roboto) !important;
  letter-spacing: 14px;
}

.h-shadow {
  transition: transform 0.7s ease;
}

.tech-icon {
  border: 1px solid var(--border-color);
  cursor: pointer;
}
.h-shadow:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transform: scale(1.1);
  border-width: 0;
}
/* end about area */

/* Start experince area */
.exp-area{
  margin: 6rem 0;
}
.exp {
  padding-left: 1rem;
}

.exp span {
  display: block;
}

.exp .years-area {
  position: relative;
  margin-bottom: 12rem;
}
.exp .years-area .years {
  font: normal bold 84px/40px var(--roboto) !important;
  color: var(--secondary-color);
  /* margin-right: 1rem; */
}

.exp .years-area .years::before {
  position: absolute;
  content: '';
  width: 8rem;
  height: 8rem;
  border-style: dashed;
  border-width: 0.2rem;
  border-color: gray;
  left: -5rem;
  background-color: transparent;
  z-index: -1;
}

.exp {
  background: transparent;
  position: relative !important;
}
.exp::before {
  background-color: #e029290a;
  width: 16rem;
  height: 90%;
  bottom: 2rem;
  content: '';
  position: absolute;
  align-self: center;
  z-index: -1;
}

.exp .exp-word {
  font: normal 600 22px/30px var(--roboto) !important;
  margin-right: 2rem;
}
/* End experince area */
